GEOPYTHON/.ipynb_checkpoints/1091402-checkpoint.txt
GEOPYTHON/.ipynb_checkpoints/2315676-checkpoint.txt
GEOPYTHON/.ipynb_checkpoints/3283151-checkpoint.txt
GEOPYTHON/.ipynb_checkpoints/6153237444115dat-checkpoint.csv
GEOPYTHON/.ipynb_checkpoints/All Exercises-checkpoint.ipynb
GEOPYTHON/.ipynb_checkpoints/bar-plot-checkpoint.png
GEOPYTHON/.ipynb_checkpoints/bar-plot-hi-res-checkpoint.pdf
GEOPYTHON/.ipynb_checkpoints/helsinki-vantaa-checkpoint.csv
GEOPYTHON/.ipynb_checkpoints/Kumpula_temps_above_15_June_2016-checkpoint.csv
GEOPYTHON/.ipynb_checkpoints/Kumpula_temps_June_2016-checkpoint.csv
GEOPYTHON/.ipynb_checkpoints/Kumpula_temps_May_Aug_2017-checkpoint.csv
GEOPYTHON/.ipynb_checkpoints/Kumpula-June-2016-w-metadata-checkpoint.txt
GEOPYTHON/.ipynb_checkpoints/Lesson_3(loop, lists, conditional statements)-checkpoint.ipynb
GEOPYTHON/.ipynb_checkpoints/Lesson_4(functions, script files, modules)-checkpoint.ipynb
GEOPYTHON/.ipynb_checkpoints/Lesson_5(Pandas)-checkpoint.ipynb
GEOPYTHON/.ipynb_checkpoints/Lesson_6(Data_analysis_pandas)-checkpoint.ipynb
GEOPYTHON/.ipynb_checkpoints/Lesson_7(Basic Plotting)-checkpoint.ipynb
GEOPYTHON/.ipynb_checkpoints/Rovaniemi_temps_May_August_2017-checkpoint.csv
GEOPYTHON/.ipynb_checkpoints/temp_converter-checkpoint.py
GEOPYTHON/.ipynb_checkpoints/temp_functions-checkpoint.py
GEOPYTHON/.ipynb_checkpoints/Trial Book-checkpoint.ipynb
GEOPYTHON/data/.ipynb_checkpoints/3505doc-checkpoint.txt
GEOPYTHON/data/.ipynb_checkpoints/028360-checkpoint.txt
GEOPYTHON/data/.ipynb_checkpoints/029440-checkpoint.txt
GEOPYTHON/data/.ipynb_checkpoints/6367598020644inv-checkpoint.txt
GEOPYTHON/data/.ipynb_checkpoints/6367598020644stn-checkpoint.txt
MATPLOTLIB/.ipynb_checkpoints/matplotlib-checkpoint.ipynb
AUTOGIS/.ipynb_checkpoints/Shapely and Geometry Objects-checkpoint.ipynb
NUMPY/.ipynb_checkpoints/NumPy Arrays (9)-checkpoint.ipynb
NUMPY/.ipynb_checkpoints/NumPy Arrays-checkpoint.ipynb
NUMPY/.ipynb_checkpoints/Numpy_Assignment-checkpoint.ipynb
NUMPY/.ipynb_checkpoints/Untitled-checkpoint.ipynb
PANDAS/.ipynb_checkpoints/PANDAS_new-checkpoint.ipynb
PANDAS/.ipynb_checkpoints/pandas-checkpoint.ipynb
PYTHON_BASICS/.ipynb_checkpoints/dattime lesson 14-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/Lesso_14(Time and Date)-checkpoint.ipynb
PYTHON_BASICS/.ipynb_checkpoints/Lesson_2_task-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/Lesson_3_Demo-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/Lesson_3_task-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/Lesson_4_practice-checkpoint.ipynb
PYTHON_BASICS/.ipynb_checkpoints/Lesson_5&6_practice(string formatting, lists)-checkpoint.ipynb
PYTHON_BASICS/.ipynb_checkpoints/Lesson_6_task-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/Lesson_6(Tuples)-checkpoint.ipynb
PYTHON_BASICS/.ipynb_checkpoints/Lesson_7(sets)-checkpoint.ipynb
PYTHON_BASICS/.ipynb_checkpoints/Lesson_8(dictionaries)-checkpoint.ipynb
PYTHON_BASICS/.ipynb_checkpoints/Lesson_9_10(conditional statements)-checkpoint.ipynb
PYTHON_BASICS/.ipynb_checkpoints/Lesson_10_11(Loops)-checkpoint.ipynb
PYTHON_BASICS/.ipynb_checkpoints/Lesson_10_task-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/Lesson_11_task-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/Lesson_12(Nested for loops)-checkpoint.ipynb
PYTHON_BASICS/.ipynb_checkpoints/Lesson_13_task-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/Lesson_13-checkpoint.ipynb
PYTHON_BASICS/.ipynb_checkpoints/Lesson_14_task-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/lesson6-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/lesson7-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/lesson8-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/lesson8-conditional statetemnts-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/lesson9-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/lesson10-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/lesson10loops-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/lesson11loops-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/lesson12-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/lesson15-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/lesson16-exceptions-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/mathlib-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/numbers-checkpoint.py
PYTHON_BASICS/.ipynb_checkpoints/untitled-checkpoint.py
SEABORN/.ipynb_checkpoints/Seaborn1 (1)-checkpoint.ipynb
GEOPYTHON/data/._3505doc.txt
GEOPYTHON/data/._6367598020644inv.txt
GEOPYTHON/data/._6367598020644stn.txt
GEOPYTHON/data/3505doc.txt
GEOPYTHON/data/028360.txt
GEOPYTHON/data/028690.txt
GEOPYTHON/data/028750.txt
GEOPYTHON/data/028970.txt
GEOPYTHON/data/029070.txt
GEOPYTHON/data/029110.txt
GEOPYTHON/data/029170.txt
GEOPYTHON/data/029350.txt
GEOPYTHON/data/029440.txt
GEOPYTHON/data/029500.txt
GEOPYTHON/data/029700.txt
GEOPYTHON/data/029720.txt
GEOPYTHON/data/029740.txt
GEOPYTHON/data/029810.txt
GEOPYTHON/data/029820.txt
GEOPYTHON/data/6367598020644inv.txt
GEOPYTHON/data/6367598020644stn.txt
AUTOGIS/.ipynb_checkpoints/Geocoding-checkpoint.ipynb
AUTOGIS/.ipynb_checkpoints/Geopandas-checkpoint.ipynb
MACHINE LEARNING/.ipynb_checkpoints/_K-Means Clustering (6)-checkpoint.ipynb
GOOGLE EARTH ENGINE/.ipynb_checkpoints/AmericaView_2023-checkpoint.ipynb
AUTOGIS/Exercise 3/shopping_centers.cpg
AUTOGIS/Exercise 3/shopping_centers.dbf
AUTOGIS/Exercise 3/shopping_centers.prj
AUTOGIS/Exercise 3/shopping_centers.shp
AUTOGIS/Exercise 3/shopping_centers.shx
AUTOGIS/Exercise 3/shopping_centers.cpg
AUTOGIS/Exercise 3/shopping_centers.cpg
AUTOGIS/Static & Interactive Maps/.ipynb_checkpoints/01_static_maps-checkpoint.ipynb
AUTOGIS/Static & Interactive Maps/.ipynb_checkpoints/choropleth_map-checkpoint.html
AUTOGIS/Static & Interactive Maps/.ipynb_checkpoints/02_interactive-map-folium-checkpoint.ipynb
AUTOGIS/OpenStreetMap & Network Analysis/cache/7f06ad79ef725af9f974692e723fb931c48ef8ed.json
AUTOGIS/OpenStreetMap & Network Analysis/cache/60b1f5226e3915e4aed04445040ac0e852c24ada.json
AUTOGIS/OpenStreetMap & Network Analysis/cache/3315f34a384a24fdb4132efcdc33b51146adf4e2.json
AUTOGIS/OpenStreetMap & Network Analysis/cache/98683e0b428b9598cbedbe639867707d11d1985c.json
AUTOGIS/OpenStreetMap & Network Analysis/cache/ab377695b5bb6b9245c1ea823da37c429d9c1f80.json
AUTOGIS/OpenStreetMap & Network Analysis/cache/b3401dafbac8a8084b18faae746cfb3bb402f6a8.json
AUTOGIS/OpenStreetMap & Network Analysis/cache/b421471987384846d0fe5414c702385db3041301.json
AUTOGIS/OpenStreetMap & Network Analysis/cache/bb225b3eddb67be332c16b969964fef11ccf9a54.json
AUTOGIS/OpenStreetMap & Network Analysis/cache/d50d1608068f3e3f7fe9c454f539a3f2a47dc383.json
AUTOGIS/OpenStreetMap & Network Analysis/cache/ef3d9e1d89f328d4e06dceaaff413a5673990ecd.json
.vscode/extensions.json
ASSIGNMENT/DATA VISUALISATION/.ipynb_checkpoints/Data Visualisation-checkpoint.ipynb
